.adCarousel {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    /* background-color: orange; */
}

.adCarousel .slider_container {
    position: relative;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    transition: all 1s ease-in-out;
}

.adCarousel .slider_div {
    position: relative;
    height: 25vh;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .adCarousel {
        height: 30vh;
    }

    .adCarousel .slider_div {
        height: 30vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .adCarousel {
        height: 37vh;
    }

    .adCarousel .slider_div {
        height: 37vh;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .adCarousel {
        height: 40vh;
    }

    .adCarousel .slider_div {
        height: 40vh;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {

    .adCarousel {
        height: 50vh;
    }

    .adCarousel .slider_div {
        height: 50vh;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

    .adCarousel {
        height: 55vh;
    }

    .adCarousel .slider_div {
        height: 55vh;
    }
}

@media only screen and (min-width: 1201px) {

    .adCarousel {
        height: 65vh;
    }

    .adCarousel .slider_div {
        height: 65vh;
    }
}