.cartPage {
    min-height: 80vh;
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(235, 235, 235);
}

.cartPage .location_div {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.cartPage .location_div .user_location {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: red; */
}

.cartPage .location_div .user_location p {
    color: black;
    font-size: 0.9rem;
    /* background-color: red; */
}

.cartPage .location_div .user_location .user_name_pincode span {
    margin-left: 0.2rem;
    font-weight: 500;
}

.cartPage .location_div .user_location .street_details {
    color: grey;
}

.cartPage .location_div .change_address_btn {
    padding: 0.5rem 0.7rem;
    color: #244d61;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: white;
}

.cartPage .location_div .change_address_btn:hover {
    color: white;
    background-color: #244d61;
    transition: all 0.2s ease-in-out;
}

.cartPage .products_container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.cartPage .empty_cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: limegreen; */
}

.cartPage .empty_cart .empty_bag_img_div {
    position: relative;
    height: 10rem;
    width: 10rem;
}

.cartPage .empty_cart h3 {
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 500;
}

.cartPage .empty_cart p {
    color: grey;
    font-size: 0.9rem;
}

.cartPage .placeOrder_div {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #244d61;
    background-color: white;
}

.cartPage .placeOrder_div h2 {
    font-weight: 500;
}

.cartPage .placeOrder_div button {
    width: 45%;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: #244d61;
}

.cartPage .placeOrder_div button:hover {
    color: #244d61;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .cartPage .location_div {
        width: 95%;
    }

    .cartPage .products_container {
        width: 95%;
    }

    .cartPage .placeOrder_div button {
        width: 30%;
        padding: 0.7rem 1rem;
    }

    .cartPage .empty_cart .empty_bag_img_div {
        height: 12rem;
        width: 12rem;
    }

    .cartPage .empty_cart p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .cartPage .location_div {
        width: 85%;
    }

    .cartPage .products_container {
        width: 85%;
    }

    .cartPage .placeOrder_div button {
        width: 22%;
        padding: 0.7rem 1rem;
    }

    .cartPage .empty_cart .empty_bag_img_div {
        height: 13rem;
        width: 13rem;
    }

    .cartPage .empty_cart p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .cartPage .location_div {
        width: 75%;
    }

    .cartPage .products_container {
        width: 75%;
    }

    .cartPage .placeOrder_div button {
        width: 20%;
        padding: 0.7rem 1rem;
    }

    .cartPage .empty_cart .empty_bag_img_div {
        height: 15rem;
        width: 15rem;
    }

    .cartPage .empty_cart p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .cartPage .location_div {
        width: 65%;
    }

    .cartPage .products_container {
        width: 65%;
    }

    .cartPage .placeOrder_div {
        justify-content: space-around;
    }

    .cartPage .placeOrder_div button {
        width: 16%;
        padding: 0.8rem 1rem;
    }

    .cartPage .empty_cart .empty_bag_img_div {
        height: 15rem;
        width: 15rem;
    }

    .cartPage .empty_cart p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1201px) {

    .cartPage .location_div {
        width: 55%;
    }

    .cartPage .products_container {
        width: 55%;
    }

    .cartPage .placeOrder_div {
        justify-content: space-around;
    }

    .cartPage .placeOrder_div button {
        width: 13%;
        padding: 1rem;
    }

    .cartPage .empty_cart .empty_bag_img_div {
        height: 15rem;
        width: 15rem;
    }

    .cartPage .empty_cart p {
        font-size: 1rem;
    }
}