.categorisedProductPage {
    min-height: 80vh;
    width: 100%;
    padding-top: 1.5rem;
    /* background-color: rgb(235, 235, 235); */
    background-color: white;
}

.categorisedProductPage .header {
    color: black;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    /* background-color: white; */
    /* background-color: orange; */
}

.categorisedProductPage .products_container {
    min-height: 80vh;
    width: 100%;
    background-color: white;
    /* background-color: red; */
}

/* Media Queries */

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .categorisedProductPage {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(235, 235, 235);
    }

    .categorisedProductPage .header {
        width: 85%;
    }

    .categorisedProductPage .products_container {
        min-height: 90vh;
        width: 85%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1201px) {

    .categorisedProductPage {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(235, 235, 235);
    }

    .categorisedProductPage .header {
        width: 95%;
        padding: 0;
    }

    .categorisedProductPage .products_container {
        min-height: 90vh;
        width: 95%;
        margin: 0 auto;
    }
}