.delivery_details_div {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
}

.delivery_details_div .deliver_to {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid #0295a9;
    /* background-color: orange; */
}

.delivery_details_div .deliver_to p {
    margin-right: 0.5rem;
}

/* .delivery_details_div .deliver_to .user_pincode {
    margin-left: 2rem;
} */

.delivery_details_div .deliver_to .add_address {
    padding: 0.3rem 0.5rem;
    color: #244d61;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: white;
}

.delivery_details_div .deliver_to .add_address:hover {
    color: white;
    background-color: #244d61;
    transition: all 0.2s ease-in-out;
}

.delivery_details_div .delivery_time_div {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delivery_details_div .delivery_time_div .delivery_icon {
    color: #244d61;
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .delivery_details_div {
        width: 95%;
    }

    .delivery_details_div .deliver_to {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .delivery_details_div .delivery_time_div {
        width: 100%;
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .delivery_details_div {
        width: 80%;
    }

    .delivery_details_div .deliver_to {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .delivery_details_div .delivery_time_div {
        width: 100%;
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .delivery_details_div {
        width: 70%;
    }

    .delivery_details_div .deliver_to {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .delivery_details_div .delivery_time_div {
        width: 100%;
        padding: 1rem 1.5rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .delivery_details_div {
        width: 60%;
    }

    .delivery_details_div .deliver_to {
        width: 100%;
        padding: 1rem 1.7rem;
    }

    .delivery_details_div .delivery_time_div {
        width: 100%;
        padding: 1rem 1.7rem;
    }
}

@media only screen and (min-width: 1201px) {

    .delivery_details_div {
        width: 50%;
    }

    .delivery_details_div .deliver_to {
        width: 100%;
        padding: 1rem 1.8rem;
    }

    .delivery_details_div .delivery_time_div {
        width: 100%;
        padding: 1rem 1.8rem;
    }
}