.delivery_details_div {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
}

.delivery_details_div .deliver_to {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid limegreen;
    /* background-color: orange; */
}

.delivery_details_div .deliver_to p {
    margin-right: 0.5rem;
}

/* .delivery_details_div .deliver_to .user_pincode {
    margin-left: 2rem;
} */

.delivery_details_div .deliver_to .add_address {
    padding: 0.3rem 0.5rem;
    color: green;
    border: 0.1rem solid limegreen;
    border-radius: 0.2rem;
    background-color: white;
}

.delivery_details_div .deliver_to .add_address:hover {
    color: white;
    background-color: limegreen;
}

.delivery_details_div .delivery_time_div {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delivery_details_div .delivery_time_div .delivery_icon {
    color: green;
    font-size: 1.5rem;
    margin-right: 1rem;
}