@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Rubik&display=swap');

.earning_div {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: black;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

.earning_div .money {
    color: #244d61;
    font-family: 'Rubik', sans-serif
}