@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Libre+Baskerville&family=Lora&family=Rubik&display=swap');

.editAddress {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.editAddress .editAddress_top_div {
    height: 10vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #244d61;
}

.editAddress .editAddress_top_div .back_btn {
    color: white;
    font-size: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.editAddress .editAddress_top_div .back_btn:hover {
    color: #75e2ff;
    transition: all 0.2s ease-in-out;
}

.editAddress .editAddress_top_div .editAddress_head {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

.editAddress .editAddress_form_div {
    min-height: 90vh;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

.editAddress .editAddress_form_div .address_pair {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: lime; */
}

.editAddress .editAddress_form_div .address_pair label {
    margin-bottom: 0.5rem;
    color: #244d61;
    font-size: 1.1rem;
    font-family: 'Cabin', sans-serif;
}

.editAddress .editAddress_form_div .address_pair input {
    width: 100%;
    padding: 1rem;
    color: black;
    font-size: 1rem;
    font-family: 'Lora', serif;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: white;
}

.editAddress .editAddress_form_div .address_pair input:focus {
    border: 0.1rem solid #0295a9;
}

.editAddress .editAddress_form_div .editAddress_submit_btn {
    width: 100%;
    padding: 0.7rem 1rem;
    color: white;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: #244d61;
}

.editAddress .editAddress_form_div .editAddress_submit_btn:hover {
    color: #244d61;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .editAddress .editAddress_top_div .back_btn {
        font-size: 1.5rem;
    }

    .editAddress .editAddress_top_div .editAddress_head {
        font-size: 1.3rem;
    }

    .editAddress .editAddress_form_div {
        width: 85%;
    }

    .editAddress .editAddress_form_div .editAddress_submit_btn {
        padding: 0.8rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .editAddress .editAddress_top_div .back_btn {
        font-size: 1.5rem;
    }

    .editAddress .editAddress_top_div .editAddress_head {
        font-size: 1.3rem;
    }

    .editAddress .editAddress_form_div {
        width: 75%;
    }

    .editAddress .editAddress_form_div .editAddress_submit_btn {
        padding: 0.8rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .editAddress .editAddress_top_div .back_btn {
        font-size: 1.7rem;
    }

    .editAddress .editAddress_top_div .editAddress_head {
        font-size: 1.4rem;
    }

    .editAddress .editAddress_form_div {
        width: 65%;
    }

    .editAddress .editAddress_form_div .editAddress_submit_btn {
        padding: 0.9rem;
    }
}

@media only screen and (min-width: 1201px) {

    .editAddress .editAddress_top_div .back_btn {
        font-size: 1.8rem;
    }

    .editAddress .editAddress_top_div .editAddress_head {
        font-size: 1.5rem;
    }

    .editAddress .editAddress_form_div {
        width: 60%;
    }

    .editAddress .editAddress_form_div .editAddress_submit_btn {
        padding: 1rem;
    }
}