.editProfilePage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.editProfilePage .editProfile_top_div {
    position: relative;
    height: 35vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 160, 0);
}

.editProfilePage .editProfile_top_div .back_btn_div {
    position: absolute;
    top: 3%;
    left: 3%;
    /* background-color: orange; */
}

.editProfilePage .editProfile_top_div .back_btn_div .back_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.editProfilePage .editProfile_top_div .back_btn_div .back_btn:hover {
    color: lightgrey;
    transition: all 0.2s ease-in-out;
}

.editProfilePage .editProfile_top_div .dpDiv {
    position: relative;
    height: 7rem;
    width: 7rem;
    border: 0.2rem solid white;
    border-radius: 50%;
}

.editProfilePage .editProfile_top_div .dpDiv span img {
    border: none;
    border-radius: 50%;
}

.editProfilePage .editProfile_form_div {
    height: 55vh;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orchid; */
}

.editProfilePage .editProfile_form_div .edit_pair {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

.editProfilePage .editProfile_form_div .edit_pair label {
    color: green;
    margin-bottom: 0.5rem;
}

.editProfilePage .editProfile_form_div .edit_pair input {
    width: 100%;
    padding: 0.5rem 0;
    color: black;
    font-size: 1rem;
    border: none;
    border-bottom: 0.1rem solid lightgrey;
    background-color: white;
}

.editProfilePage .editProfile_form_div .editProfile_submit_btn {
    align-self: center;
    color: green;
    font-size: 1.3rem;
    border: none;
    background-color: white;
}

.editProfilePage .editProfile_form_div .editProfile_submit_btn:hover {
    color: rgb(2, 169, 2);
    transition: all 0.2s ease-in-out;
}

.editProfilePage .editProfile_bottom_div {
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 0.1rem solid limegreen;
    /* background-color: orangered; */
}

.editProfilePage .editProfile_bottom_div .actions {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: green;
    font-weight: normal;
    cursor: pointer;
}

.editProfilePage .editProfile_bottom_div .actions:hover {
    color: rgb(2, 169, 2);
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .editProfilePage .editProfile_top_div {
        height: 40vh;
    }

    .editProfilePage .editProfile_top_div .dpDiv {
        height: 8rem;
        width: 8rem;
    }

    .editProfilePage .editProfile_form_div {
        width: 80%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .editProfilePage .editProfile_top_div {
        height: 45vh;
    }

    .editProfilePage .editProfile_top_div .dpDiv {
        height: 9rem;
        width: 9rem;
    }

    .editProfilePage .editProfile_form_div {
        width: 75%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .editProfilePage .editProfile_top_div {
        background-color: white;
    }

    .editProfilePage .editProfile_top_div .dpDiv {
        height: 10rem;
        width: 10rem;
        border: 0.2rem solid limegreen;
    }

    .editProfilePage .editProfile_form_div {
        height: 52vh;
        width: 65%;
    }

    .editProfilePage .editProfile_bottom_div {
        width: 65%;
        border: none;
    }

    .editProfilePage .editProfile_top_div .back_btn_div {
        top: 10%;
        left: 5%;
    }

    .editProfilePage .editProfile_top_div .back_btn_div .back_btn {
        color: green;
        font-size: 2rem;
    }
    
    .editProfilePage .editProfile_top_div .back_btn_div .back_btn:hover {
        color: rgb(0, 171, 0);
    }
}

@media only screen and (min-width: 1201px) {

    .editProfilePage .editProfile_top_div {
        width: 100%;
        padding: 1rem;
        /* border-bottom: 0.1rem solid limegreen; */
        background-color: white;
    }

    .editProfilePage .editProfile_top_div .dpDiv {
        height: 10.5rem;
        width: 10.5rem;
        border: 0.2rem solid limegreen;
    }

    .editProfilePage .editProfile_form_div {
        height: 47vh;
        width: 60%;
    }

    .editProfilePage .editProfile_bottom_div {
        width: 60%;
        border: none;
    }

    .editProfilePage .editProfile_top_div .back_btn_div {
        top: 10%;
        left: 5%;
    }

    .editProfilePage .editProfile_top_div .back_btn_div .back_btn {
        color: green;
        font-size: 2rem;
    }
    
    .editProfilePage .editProfile_top_div .back_btn_div .back_btn:hover {
        color: rgb(0, 171, 0);
    }
}