.container {
  /* min-height: 100vh; */
  width: 100%;
  /* background-color: white; */
}

.main {
  /* min-height: 100vh; */
  width: 100%;
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: orange; */
}

.main .categoriesDiv {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1rem solid limegreen;
  background-color: white;
  /* background-color: greenyellow; */
}

.main .categoriesDiv .categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .categoriesDiv .categoryItem .imgDiv {
  position: relative;
  height: 3rem;
  width: 3rem;
}