.order {
    width: 100%;
    margin: 0 auto;
    /* background-color: orange; */
}

.order .orderItem {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
    cursor: pointer;
    background-color: white;
    /* background-color: orchid; */
}

.order .orderItem .orderItem_img_div {
    position: relative;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #0295a9;
}

.order .orderItem .order_status {
    width: 40%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: lime; */
}

.order .orderItem .order_product_price {
    display: none;
    color: #244d61;
}

.order .orderItem .order_action_btn {
    color: #244d61;
    font-size: 1.3rem;
    cursor: pointer;
}

.order .orderItem .order_action_btn:hover {
    color: #0295a9;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .order {
        width: 95%;
        /* background-color: orange; */
    }

    .order .orderItem {
        border: 0.05rem solid lightgrey;
        border-radius: 0.2rem;
        margin-bottom: 0.3rem;
    }

    .order .orderItem .orderItem_img_div {
        height: 5.5rem;
        width: 5.5rem;
    }

    .order .orderItem .order_action_btn {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .order {
        width: 85%;
        /* background-color: orange; */
    }

    .order .orderItem {
        border: 0.05rem solid lightgrey;
        border-radius: 0.2rem;
        margin-bottom: 0.5rem;
    }

    .order .orderItem .orderItem_img_div {
        height: 5.5rem;
        width: 5.5rem;
    }

    .order .orderItem .order_action_btn {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .order {
        width: 75%;
        /* background-color: orange; */
    }

    .order .orderItem {
        border: 0.05rem solid lightgrey;
        border-radius: 0.2rem;
        margin-bottom: 0.6rem;
    }

    .order .orderItem .orderItem_img_div {
        height: 6rem;
        width: 6rem;
    }

    .order .orderItem .order_action_btn {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .order {
        width: 65%;
        /* background-color: orange; */
    }
    
    .order .orderItem {
        border: 0.05rem solid lightgrey;
        border-radius: 0.2rem;
        margin-bottom: 0.7rem;
        /* background-color: orchid; */
    }

    .order .orderItem .orderItem_img_div {
        height: 6.5rem;
        width: 6.5rem;
    }

    .order .orderItem .order_action_btn {
        display: none;
    }

    .order .orderItem .order_product_price {
        display: block;
    }

    .order .orderItem .order_status {
        width: 30%;
    }

}

@media only screen and (min-width: 1201px) {

    .order {
        width: 55%;
        /* background-color: orange; */
    }
    
    .order .orderItem {
        border: 0.05rem solid lightgrey;
        border-radius: 0.2rem;
        margin-bottom: 0.7rem;
        /* background-color: orchid; */
    }

    .order .orderItem .orderItem_img_div {
        height: 7rem;
        width: 7rem;
    }

    .order .orderItem .order_action_btn {
        display: none;
    }

    .order .orderItem .order_product_price {
        display: block;
    }

    .order .orderItem .order_status {
        width: 27%;
    }

}