@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');

.product {
    height: 100%;
    width: 100%;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    /* background-color: orange; */
}

.product:hover {
    /* scale: 1.05; */
    box-shadow: 0.01rem 0.01rem 0.5rem 0.2rem lightgrey;
    transition: all 0.2s ease-in-out;
}

.product .product_image {
    position: relative;
    height: 9rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.product .product_name {
    width: 100%;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 0.85rem;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: orange; */
}

.product .product_category {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #244d61;
    font-size: 0.85rem;
    font-family: 'Rubik', sans-serif;
}

.product h5 {
    margin-bottom: 0.5rem;
    color: #244d61;
    font-family: 'Rubik', sans-serif;
}

.product .product_stock {
    color: #244d61;
    font-size: 0.9rem;
    font-weight: 500;
}

.product .no_stock {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .product {
        padding: 0.3rem 1rem;
    }

    .product .product_image {
        height: 8rem;
        width: 90%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .product {
        padding: 0.5rem 1rem;
    }

    .product .product_image {
        height: 9rem;
        width: 85%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .product {
        padding: 0.5rem 1.5rem;
    }

    .product .product_image {
        height: 8rem;
        width: 90%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {

    .product {
        padding: 0.5rem 1.5rem;
    }

    .product .product_image {
        height: 10rem;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

    .product {
        padding: 0.5rem 1rem;
    }

    .product .product_image {
        height: 10.5rem;
    }
}

@media only screen and (min-width: 1201px) {

    .product {
        padding: 0.7rem 1.5rem;
    }

    .product .product_image {
        height: 13rem;
        margin-bottom: 1rem;
    }

    .product .product_name {
        font-size: 0.9rem;
    }

    .product .product_category {
        font-size: 0.9rem;
    }
}