.product {
    height: 100%;
    width: 100%;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 0.1rem solid limegreen; */
    /* border-radius: 0.2rem; */
    cursor: pointer;
    background-color: white;
    /* background-color: orange; */
}

.product:hover {
    /* scale: 1.05; */
    box-shadow: 0.01rem 0.01rem 0.5rem 0.2rem lightgrey;
    transition: all 0.2s ease-in-out;
}

/* .producteven {
    border-right: 0.1rem solid limegreen;
    border-bottom: 0.1rem solid limegreen;
}

.productodd {
    border-bottom: 0.1rem solid limegreen;
} */

.product .product_image {
    position: relative;
    height: 9rem;
    width: 100%;
    /* border: 0.1rem solid limegreen; */
    margin-bottom: 0.5rem;
}

.product .product_name {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    /* text-align: center; */
    font-weight: 500;
    /* background-color: orange; */
}

.product h5 {
    font-weight: 600;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .product {
        padding: 0.3rem 1rem;
    }

    .product .product_image {
        height: 8rem;
        width: 90%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .product {
        padding: 0.5rem 1rem;
    }

    .product .product_image {
        height: 9rem;
        width: 85%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .product {
        padding: 0.5rem 1.5rem;
    }

    .product .product_image {
        height: 8rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {

    .product {
        padding: 0.5rem 1.5rem;
    }

    .product .product_image {
        height: 10rem;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

    .product {
        padding: 0.5rem 1rem;
    }

    .product .product_image {
        height: 10.5rem;
    }
}

@media only screen and (min-width: 1201px) {

    .product {
        padding: 0.7rem 1.5rem;
    }

    .product .product_image {
        height: 13rem;
        margin-bottom: 1rem;
    }

    .product .product_name {
        font-size: 0.9rem;
    }
}