.product {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: orange; */
}

.producteven {
    border-right: 0.1rem solid limegreen;
    border-bottom: 0.1rem solid limegreen;
}

.productodd {
    border-bottom: 0.1rem solid limegreen;
}

.product .product_image {
    position: relative;
    height: 6rem;
    width: 90%;
    margin-bottom: 0.5rem;
}

.product p {
    text-align: center;
}