.productForm {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    /* background-color: orchid; */
}

.productForm .product_form_div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: orangered; */
}

.productForm .product_form_div .pair_div {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

.productForm .product_form_div .pair_div label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.productForm .product_form_div .pair_div input, .productForm .product_form_div .pair_div textarea, .productForm .product_form_div .pair_div select {
    width: 100%;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.1rem;
    border: 0.1rem solid lightgrey;
    border-radius: 0.3rem;
    background-color: white;
}

.productForm .product_form_div .pair_div input:focus, .productForm .product_form_div .pair_div textarea:focus, .productForm .product_form_div .pair_div select:focus {
    border: 0.1rem solid limegreen;
}

.productForm .product_form_div .pair_div textarea {
    resize: none;
    height: 25vh;
}

.productForm .product_form_div .pair_div .img_input {
    display: none;
}

.productForm .product_form_div .pair_div .image_preview {
    position: relative;
    height: 40vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

.productForm .product_form_div .pair_div .image_preview .image_icon {
    font-size: 5rem;
    cursor: pointer;
}

.productForm .product_form_div .pair_div .image_preview .remove_image_icon {
    position: absolute;
    top: 3%;
    right: 3%;
    color: black;
    z-index: 300;
    cursor: pointer;
}

.productForm .product_form_div .pair_div .image_preview .remove_image_icon:hover {
    color: red;
    transition: all 0.2s ease-in-out;
}

.productForm .product_form_div .btn_div {
    width: 100%;
    padding: 1rem;
    border-top: 0.1rem solid lightgrey;
}

.productForm .product_form_div .btn_div .submit_btn {
    width: 100%;
    padding: 0.7rem 1rem;
    color: white;
    font-size: 1.2rem;
    border: 0.1rem solid limegreen;
    border-radius: 0.3rem;
    background-color: limegreen;
}

.productForm .product_form_div .btn_div .submit_btn:hover {
    color: limegreen;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .productForm .product_form_div {
        width: 90%;
    }

    .productForm .product_form_div .pair_div .image_preview {
        height: 40vh;
        width: 68%;
    }

    .productForm .product_form_div .pair_div .image_preview .image_icon {
        font-size: 6rem;
    }

    .productForm .product_form_div .btn_div {
        border: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {

    .productForm .product_form_div {
        width: 80%;
    }

    .productForm .product_form_div .pair_div .image_preview {
        height: 45vh;
        width: 70%;
    }

    .productForm .product_form_div .pair_div .image_preview .image_icon {
        font-size: 7rem;
    }

    .productForm .product_form_div .btn_div {
        border: none;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .productForm .product_form_div {
        width: 70%;
    }

    .productForm .product_form_div .pair_div .image_preview {
        height: 50vh;
        width: 75%;
    }

    .productForm .product_form_div .pair_div .image_preview .image_icon {
        font-size: 8rem;
    }

    .productForm .product_form_div .btn_div {
        border: none;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .productForm .product_form_div {
        width: 60%;
    }

    .productForm .product_form_div .pair_div .image_preview {
        height: 55vh;
        width: 70%;
    }

    .productForm .product_form_div .pair_div .image_preview .image_icon {
        font-size: 9rem;
    }

    .productForm .product_form_div .btn_div {
        border: none;
    }
}

@media only screen and (min-width: 1201px) {

    .productForm .product_form_div {
        width: 50%;
    }

    .productForm .product_form_div .pair_div .image_preview {
        height: 55vh;
        width: 70%;
    }

    .productForm .product_form_div .pair_div .image_preview .image_icon {
        font-size: 9rem;
    }

    .productForm .product_form_div .btn_div {
        border: none;
    }
}