.products {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.1rem;
    grid-row-gap: 0.1rem;
    border-radius: 0.2rem;
    /* background-color: white; */
    /* background-color: orchid; */
}

.no_result {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.no_result .no_result_img_div {
    position: relative;
    height: 12rem;
    width: 12rem;
}

.no_result h3 {
    color: black;
    font-weight: 500;
}

.no_result p {
    width: 90%;
    text-align: center;
    color: grey;
    font-size: 0.9rem;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 720px) {

    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .products {
        /* padding: 1rem 1.5rem; */
        grid-template-columns: repeat(4, 1fr);
        /* grid-gap: 1rem; */
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {

    .products {
        /* padding: 1rem 2rem; */
        grid-template-columns: repeat(4, 1fr);
        /* grid-gap: 1rem; */
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

    .products {
        /* padding: 1rem 2rem; */
        grid-template-columns: repeat(5, 1fr);
        /* grid-gap: 1rem; */
    }
}

@media only screen and (min-width: 1201px) {

    .products {
        /* padding: 1rem 2rem; */
        grid-template-columns: repeat(6, 1fr);
        /* grid-gap: 1rem; */
    }
}