.profilePage {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(235, 235, 235);
}

.profilePage .profile_top_div {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* background-color: palevioletred; */
}

.profilePage .profile_top_div .greet {
    color: black;
    font-weight: 600;
}

.profilePage .profile_top_div .user_orders_btn {
    padding: 0.3rem 0.5rem;
    color: green;
    font-size: 0.9rem;
    border: 0.1rem solid limegreen;
    border-radius: 0.2rem;
    background-color: white;
}

.profilePage .profile_top_div .user_orders_btn:hover {
    color: white;
    background-color: limegreen;
    transition: all 0.2s ease-in-out;
}

.profilePage .account_settings_div {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.profilePage .box_head {
    margin-bottom: 1rem;
    color: black;
    font-weight: 600;
}

.profilePage .profile_flex_div {
    width: 100%;
    padding: 0.7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

.profilePage .profile_flex_div .left {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePage .profile_flex_div .left .settings_icons {
    margin-right: 1rem;
    color: green;
    font-size: 1.2rem;
}

.profilePage .profile_flex_div .settings_action_icons {
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
}

.profilePage .profile_flex_div .settings_action_icons:hover {
    color: rgb(163, 163, 163);
    transition: all 0.2s ease-in-out;
}

.profilePage .tc_div {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: white;
}

.profilePage .profile_bottom_div {
    width: 32%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.profilePage .profile_bottom_div .logout_btn {
    width: 100%;
    padding: 0.7rem 1rem;
    color: orangered;
    font-size: 1.1rem;
    border: 0.1rem solid orangered;
    border-radius: 0.3rem;
    background-color: white;
}

.profilePage .profile_bottom_div .logout_btn:hover {
    color: white;
    background-color: orangered;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {
    
    .profilePage .profile_top_div {
        width: 90%;
        margin-top: 0.5rem;
    }

    .profilePage .account_settings_div {
        width: 90%;
    }

    .profilePage .tc_div {
        width: 90%;
    }

    .profilePage .profile_bottom_div {
        width: 20%;
        padding: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {
    
    .profilePage .profile_top_div {
        width: 70%;
        margin-top: 0.5rem;
    }

    .profilePage .account_settings_div {
        width: 70%;
    }

    .profilePage .tc_div {
        width: 70%;
    }

    .profilePage .profile_bottom_div {
        width: 18%;
        padding: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {
    
    .profilePage .profile_top_div {
        width: 60%;
        margin-top: 0.5rem;
    }

    .profilePage .account_settings_div {
        width: 60%;
    }

    .profilePage .tc_div {
        width: 60%;
    }

    .profilePage .profile_bottom_div {
        width: 18%;
        padding: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .profilePage {
        min-height: 90vh;
    }

    .profilePage .profile_top_div {
        width: 45%;
        margin-top: 1rem;
    }

    .profilePage .account_settings_div {
        width: 45%;
    }

    .profilePage .tc_div {
        width: 45%;
    }

    .profilePage .profile_bottom_div {
        width: 10%;
        padding: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 1201px) {

    .profilePage {
        min-height: 90vh;
    }

    .profilePage .profile_top_div {
        width: 40%;
        margin-top: 1rem;
    }

    .profilePage .account_settings_div {
        width: 40%;
    }

    .profilePage .tc_div {
        width: 40%;
    }

    .profilePage .profile_bottom_div {
        width: 10%;
        padding: 1.5rem 0rem;
    }
}