@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lora:wght@500&family=Rubik&display=swap');

.review_page {
    min-height: 80vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.review_page .rating_div {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgb(190, 190, 255); */
}

.review_page .rating_header {
    color: black;
    font-family: 'Lora', serif;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.review_page .rating_div .stars_div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
}

.review_page .rating_div .stars_div .star_icon {
    font-size: 2rem;
    cursor: pointer;
}

.review_page .reviewForm {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orchid; */
}

.review_page .reviewForm .pair_div {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: orange; */
}

.review_page .reviewForm .pair_div textarea {
    height: 30vh;
    width: 100%;
    resize: none;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.1rem;
    font-family: 'Cabin', sans-serif;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: white;
}

.review_page .reviewForm .pair_div textarea:focus {
    border: 0.1rem solid #0295a9;
}

.review_page .reviewForm .btn_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: orange; */
}

.review_page .reviewForm button {
    margin-left: 1rem;
    padding: 0.7rem 1.5rem;
    color: white;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    border: 0.1rem solid #244d61;
    border-radius: 0.2rem;
    background-color: #244d61;
}

.review_page .reviewForm button:hover {
    color: #244d61;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.review_page .reviewForm .delete_btn {
    border: 0.1rem solid orangered;
    background-color: orangered;
}

.review_page .reviewForm .delete_btn:hover {
    color: orangered;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 720px) {

    .review_page .rating_div {
        width: 90%;
    }

    .review_page .reviewForm {
        width: 90%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {

    .review_page .rating_div {
        width: 85%;
    }

    .review_page .reviewForm {
        width: 85%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .review_page .rating_div {
        width: 80%;
    }

    .review_page .reviewForm {
        width: 80%;
    }
}

@media only screen and (min-width: 1201px) {

    .review_page .rating_div {
        width: 70%;
    }

    .review_page .reviewForm {
        width: 70%;
    }
}