.topnav {
    position: sticky;
    top: 0;
    min-height: 15vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid lightgrey;
    z-index: 500;
    background-color: white;
    /* background-color: lime; */
}

.topnav .logoDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* background-color: yellow; */
}

.topnav .logoDiv .logo {
    color: green;
    cursor: pointer;
}

.topnav .logoDiv .menuDiv {
    padding: 0.5rem 0;
    /* background-color: orange; */
}

.topnav .logoDiv .menuDiv .menu_icons {
    margin-right: 1rem;
    color: green;
    font-size: 1.3rem;
}

.topnav .logoDiv .menuDiv .logout_btn {
    font-size: 1.4rem;
}

.topnav .logoDiv .menuDiv .menu_icons:hover {
    color: limegreen;
    transition: all 0.2s ease-in-out;
}

.topnav .logoDiv .searchDiv {
    display: none;
    /* background-color: orange; */
}

.topnav .searchDiv {
    position: relative;
    width: 100%;
    /* background-color: orange; */
}

.topnav .searchDiv input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0.1rem solid grey;
    border-radius: 0.2rem;
}

.topnav .searchDiv input:focus {
    border: 0.1rem solid limegreen;
}

.topnav .searchIcon {
    position: absolute;
    top: 15%;
    right: 3%;
    margin: auto 0;
    color: grey;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: white;
    /* background-color: red; */
}

.topnav .searchIcon:hover {
    color: darkgrey;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .topnav .logoDiv .logo {
        font-size: 1.7rem;
    }

    .topnav .logoDiv .menuDiv .menu_icons {
        font-size: 1.5rem;
    }
    
    .topnav .logoDiv .menuDiv .logout_btn {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    .topnav .logoDiv .logo {
        font-size: 2rem;
    }

    .topnav .logoDiv .menuDiv .menu_icons {
        font-size: 1.6rem;
    }
    
    .topnav .logoDiv .menuDiv .logout_btn {
        font-size: 1.7rem;
    }

    .topnav .searchDiv input {
        padding: 0.7rem 1rem;
    }

    .topnav .searchIcon {
        top: 23%;
        right: 3%;
        /* background-color: red; */
    }
}

@media only screen and (min-width: 901px) {

    .topnav {
        min-height: 0;
        height: 12vh;
    }

    .topnav .logoDiv .logo {
        font-size: 2rem;
    }

    .topnav .logoDiv .menuDiv .menu_icons {
        font-size: 1.6rem;
    }
    
    .topnav .logoDiv .menuDiv .logout_btn {
        font-size: 1.8rem;
    }

    .topnav .searchDiv {
        display: none;
        /* background-color: orange; */
    }
    
    .topnav .logoDiv .searchDiv {
        display: block;
        position: relative;
        width: 50%;
        /* background-color: orange; */
    }

    .topnav .logoDiv .searchDiv input {
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        border: 0.1rem solid grey;
        border-radius: 0.3rem;
    }
    
    .topnav .logoDiv .searchDiv input:focus {
        border: 0.1rem solid limegreen;
    }

    .topnav .logoDiv .searchDiv .searchIcon {
        top: 23%;
        right: 3%;
        /* background-color: red; */
    }
}